<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
<title>Starter Template - Materialize</title>

<!-- CSS  -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<!-- <link href="public/assets/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/> -->
<link href="assets/css/style.css" rel="stylesheet">

<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
<div class="navbar-fixed">
  
  <ul id="dropdown1" class="dropdown-content">
    <li><a href="#!">one</a></li>
    <li><a href="#!">two</a></li>
    <li class="divider"></li>
    <li><a href="#!">three</a></li>
  </ul>
    <nav>
      <div class="nav-wrapper">
        <a href="#!" class="brand-logo">Logo</a>
        <ul class="right hide-on-med-and-down">
          <li>
            <input placeholder="Enter School Name" id="schoolName" type="text" class="validate">
          </li>
           <li><a class="waves-effect waves-light btn">Map</a></li>
          <li><a href="#statistics">Statisics</a></li>
        </ul>
      </div>
    </nav>
  </div>
