<div class="navbar-fixed">
  <ul id="dropdown1" class="dropdown-content">
    <li><a href="#!">one</a></li>
    <li><a href="#!">two</a></li>
    <li class="divider"></li>
    <li><a href="#!">three</a></li>
  </ul>
    <nav>
      <div class="nav-wrapper">
        <a href="#!" class="brand-logo">Logo</a>
        <ul class="right hide-on-med-and-down">
          <li>
            <input placeholder="Enter School Name" id="schoolName" type="text" class="validate">
          </li>
           <li><a class="waves-effect waves-light btn">Map</a></li>
          <li><a href="#statistics">Statisics</a></li>
        </ul>
      </div>
    </nav>
  </div>
