/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

body{ margin:0px 0px; }

#hero{
  background-image:url(http://d2v8ggac1o0f6z.cloudfront.net/gsc/GF9FS6/90/ef/26/90ef267051db46b194b28ed581b858c4/images/afterschool/u0.jpg?token=1fd65cb4a1c993e4b28da66963213bc9);
  background-size:cover;
  position:relative;
  height:100vh;
}

.header{
  position:absolute;
  top:50%;
  text-align:center;
  width:100%;
  color:#fff;
  font-size:36px;
  -ms-transform: translate(0,-50%); /* IE 9 */
   	-webkit-transform: translate(0,-50%); /* Safari */
    transform: translate(0,-50%);

}

#content{
  padding:100px 50px;
  text-align:center;
  width:80%;
  margin:0px auto;
}

#content h2{
  margin:0px 0px 30px 0px;
}

#footer{
  padding:30px 0px;
  text-align:center;
  background:#ddd;
}
