/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

html{font-family: "Avenir", sans-serif;}

body{ margin:0px 0px; }


.header{
  position:absolute;
  top:50%;
  text-align:center;
  width:100%;
  color:#fff;
  font-size:large;
  -ms-transform: translate(0,-50%); /* IE 9 */
   	-webkit-transform: translate(0,-50%); /* Safari */
    transform: translate(0,-50%);

}

#body {
  font-family: "Futura", sans-serif;
}
#button{
  color:white;
  border: 3px solid #80cbc4; 
}
#button:hover{
  background-color:#80cbc4;
}

#content{
  padding:100px 50px;
  text-align:center;
  width:80%;
  margin:0px auto;
}

#content h2{
  margin:0px 0px 30px 0px;
}

#nav {
  background-color: #4db6ac; 
}    


#footer{
  padding:30px 0px;
  text-align:center;
  background:#ddd;
}

#hero{
  background-image:url(../img/splash-page.png);
  background-repeat:none;
  background-attachment:scroll;
  background-position:center center;
  background-size:cover;
  position:relative;
  height:100vh;
}

#schoolName {
  width:400px;
  color: #ffffff;
  border-bottom: none;
  background-color: #80cbc4; 
  padding-left: 10px; 

}

#statisticsSection {
  background-color: #b2dfdb; 
  color: #424242 ;
}

#statisticsSection p{
  text-align: center;
}

#statisticsSection ul{
  padding-left: 20%;
  font-size: small;
}

#statisticsSection ul.icon{
  list-style-type: none;
}

#statisticsSection ul.icon li{
  text-indent: -1.4em;
}

#statisticsSection ul.icon li:before {
  font-family: "Material Icons";
  content: "done";
  float: left;
  width: 1.4em;
  color: #EEB154;
}

footer ul.icon li:before {
  font-family: "Material Icons";
  content: "done";
  float: left;
  width: 1.4em;
  color: #ffa726;
}

.searchBar {
  color: black;
}