<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>afterschool</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- <link href="public/assets/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/> -->
  <link href="assets/css/style.css" rel="stylesheet">

  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">

  <link rel="stylesheet" href="https://js.arcgis.com/3.16/esri/css/esri.css">
  <style>
    html, body, #map {
      height: 100%;
      margin: 0;
      padding: 0;
    }
  </style>
  <script src="https://js.arcgis.com/3.16/"></script>
  <script>
    var map;

    require(["esri/map", "dojo/domReady!"], function(Map) {
      map = new Map("map", {
        basemap: "streets",  //For full list of pre-defined basemaps, navigate to http://arcg.is/1JVo6Wd
        center: [-117.19, 32.77], // longitude, latitude
        zoom: 11
      });
    });
  </script>
</head>
<body>
  <!-- <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center orange-text">Starter Template</h1>
      <div class="row center">
        <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>
      </div>
      <div class="row center">
        <a href="http://materializecss.com/getting-started.html" id="download-button" class="btn-large waves-effect waves-light orange">Get Started</a>
      </div>
      <br><br>

    </div>
  </div> -->

  <div class="navbar-fixed">

    <ul id="dropdown1" class="dropdown-content">
      <li><a href="#!">one</a></li>
      <li><a href="#!">two</a></li>
      <li class="divider"></li>
      <li><a href="#!">three</a></li>
    </ul>
      <nav>
        <div class="nav-wrapper">
          <a href="#!" class="brand-logo">Logo</a>
          <ul class="right hide-on-med-and-down">
            <li>
              <input placeholder="Enter School Name" id="schoolName" type="text" class="validate">
            </li>
             <li><a class="waves-effect waves-light btn">Map</a></li>
            <li><a href="#statistics">Statisics</a></li>
          </ul>
        </div>
      </nav>
    </div>


  <div id="wrapper">
  <div id="hero">
    <div class="header">
      <h1> After School </h1>
      <p>Afterschool helps parents find fun, educational and safe activities for their children to engage in. With afterschool, parents can help their children use their most crucial developmental years to get involved with their community, learn new skills and grow into mature adults.</p>
      <a class="waves-effect waves-light btn" href="#statisticsSection">Get the Stats</a>
      <a class="waves-effect waves-light btn" href="#mapSection">Get Started</a>
    </div>
  </div>
</div>


  <div class="container">

    <div id="mapSection">
      <div class="section">
        <h1>Map</h1>
      </div>
      <div id="map"></div>
    </div>

    <br><br>

    <div id="statisticsSection">
      <div class="section">
        <h1>Statistics</h1>
        <div class="row">
            <div class="col s4">
                <p>Teens who do not participate in after school programs are nearly 3 times more likely to: </p>
                <ul>
                    <li><i class="material-icons">done</i>skip classes</li>
                    <li><i class="material-icons">done</i>use marijuana or other drugs</li>
                    <li><i class="material-icons">done</i>drink and smoke</li>
                    <li><i class="material-icons">done</i>engage in sexual activity</li>
                </ul>
            </div>
            <div class = "col s4">
                <p>1 in 4 American kids are on their own after school<p>
            </div>
            <div class = "col s4">
                <p>Students spend 9 hours on media every day</p>
            </div>
        </div>
      </div>
    </div>

    <div class="section">

    </div>
  </div>

  <footer class="page-footer orange">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">About Us</h5>
          <p class="grey-text text-lighten-4">Afterschool helps parents find fun, educational and safe activities for their children to engage in. With afterschool, parents can help their children use their most crucial developmental years to get involved with their community, learn new skills and grow into mature adults.</p>


        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="orange-text text-lighten-3" href="https://www.google.com/search?q=corgi&source=lnms&tbm=isch&sa=X&ved=0ahUKEwjEnfCo7-fMAhWq1IMKHVMtBaMQ_AUIBygB&biw=1920&bih=1105">Team "F" for Friends</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <!-- <script src="/public/assets/js/materialize.js"></script> -->
  <script src="assets/js/init.js"></script>

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>

  </body>
</html>
