<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>afterschool</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- <link href="public/assets/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/> -->
  <link href="assets/css/style.css" rel="stylesheet">
  <link rel="stylesheet" href="assets/css/materialize.min.css">
  <link rel="stylesheet" href="assets/css/leaflet.css">
  <link href="https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.css" rel="stylesheet">
  <link href="https://api.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/MarkerCluster.css" rel="stylesheet">
  <link href="https://api.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/MarkerCluster.Default.css" rel="stylesheet">
  <link rel="stylesheet" href="assets/css/easy-autocomplete.min.css">
  <link rel="stylesheet" href="assets/css/leaflet-routing-machine.css"/>
  <link rel="stylesheet" href="assets/css/Control.Geocoder.css"/>

  <!-- Scripts -->
  <script src="https://cdn.jsdelivr.net/scrollreveal.js/3.1.4/scrollreveal.min.js"></script>
  <script src="assets/js/leaflet.js"></script>
  <script src="https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.js"></script>
  <script src="https://api.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/leaflet.markercluster.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  <script src="assets/js/jquery.easy-autocomplete.min.js"></script>
  <script src="assets/js/Control.Geocoder.js"></script>

</head>
<body>
  <div id="wrapper">
  <div id="hero">
    <div class="header">
      <img class="responsive-img" src="assets/img/logo.png" alt="logo" style="display: inline-block;height: 180px;line-height: 180px;">
      <p style="padding-left:50px;padding-right:50px;">Afterschool helps parents find fun, educational and safe activities for their children to engage in. With afterschool, parents can help their children use their most crucial developmental years to get involved with their community, learn new skills and mature.</p>
      <a href="#mainSection" class="waves-effect waves-teal btn-flat page-scroll" id="button" style="font-weight:bold; width:300px">Get Started</a>
    </div>
  </div>
  </div>

  <div id="body">
  <div id="mainSection">
    <nav id="nav">
        <div class="nav-wrapper">
          <a href="#" class="brand-logo left"style="padding-left:10px; padding-top:10px"> <img class="responsive-img" src="assets/img/logo.png" alt="afterschool" style="height: 45px;line-height: 45px;"></a>
          <ul class="left" style="padding-left:120px">
            <li>
              <input id="schoolName" placeholder="Enter School Name">
              <!--<input placeholder="Enter School Name" id="schoolName" type="text" class="searchBar">-->
            </li>
            <li><a href="#mapsSection" id="searchButton">Search</a></li>
         </ul>
          <ul class="right" style="padding-right:10px">
            <li><a class="page-scroll" href="#statisticsSection">Why it Matters</a></li>
          </ul>
        </div>
      </nav>
    </div>
    <script>
      var options = {
        url: "./schoolData",
        getValue: "NAME",
        list: {
          match: {
            enabled: true
          },
          onClickEvent: function() {
              $("#searchButton").click();
          }
        }
      };
      $("#schoolName").easyAutocomplete(options);
      $("#schoolName").keyup(function(event){
          if(event.keyCode == 13){
              $("#searchButton").click();
          }
      });
  </script>

  <style>
    .container {
      margin-top: 50px;
      width: 100%;
    }
  </style>
  <div class="container">
  <style>
    #map {
      height: 560px;
      padding-top:50px;
      width: 69%;
    }
    .legend {
      float:left;
      /* position:absolute; */
      margin: 0px 0px 50px 20px;
      width: 27%;
      height: 600px;
      /* background-color: #80cbc4; */
      /* border-style: solid; */
    }

    #chloropleth {
      height: 560px;
      padding-top:50px;
      width: 69%;
    }
    .legend {
      float:left;
      /* position:absolute; */
      margin: 0px 0px 50px 20px;
      width: 27%;
      height: 600px;
      /* background-color: #80cbc4; */
      /* border-style: solid; */
    }
  </style>
  <div id="mapSection">
    <div class="legend" style="overflow:auto; margin-right:15px;">
      <h4 style="margin-left:15px; margin-top:0px;">Places to Go</h4>
      <p style="margin-left:15px;">
        <input type="checkbox" id="libBox" value="second_checkbox">
          <label for="libBox">Libraries</label>
      </p>
      <p style="margin-left:15px;">
        <input type="checkbox" id="parkBox" value="second_checkbox">
        <label for="parkBox">Parks</label>
      </p>
      <p style="margin-left:15px;">
        <input type="checkbox" id="recBox" value="second_checkbox">
        <label for="recBox">Recreational Centers</label>
      </p>
        <ul id="events" class="collection with-header">
        </ul>
    </div>
      <div class="map">
        <div class="section" style="float:left">
          <div class="switch">
              <label>
                Cluster
                <input type="checkbox" id="mapToggle">
                <span class="lever"></span>
                Heatmap
              </label>
            </div>
        </div>

        <button class="btn tooltipped" data-position="left" data-delay="50" data-tooltip="To route, click on two points on the map, choose a start and end point and click Show Route! To hide, click Hide Route." id="route_button" type="button" style="float:right; margin-right:17px; margin-top:10px; margin-bottom:10px; background-color:#F8D54F">Show Route</button>
        <div id="map" style="z-index:1"></div>
        <div id="chloropleth" style="z-index:1"></div>
      </div>
    </div>
  </div>

    <br><br>

    <div id="statisticsSection">
      <div class="section">
        <div class="container">
          <h4 style="text-align:center; color:teal">Why afterschool activities matter</h4><br>
          <p style="padding-bottom:15px; border-bottom:2px solid #26a69a;">Elementary school students spend a significant amount of their time after school. These students can potentially do beneficial activities that they cannot experience from sitting through their school classes.</p>
          <h5>The Problem</h5>
          <div class="row" style="padding-top: 5%">
            <div class="col s4 col1">
              <div class="center"><i class="large material-icons" style="color:white">trending_up</i></div>
              <p><em>1 in 3 American children are overweight or obese.</em><br><br>What was not a problem decades ago is a problem today because children live an inactive lifestyle. Children rarely need to walk, and most time after school is spent on the screen.</p>
            </div>
            <div class="col s4 col1">
              <div class="center">
                <i class="large material-icons" style="color:white">perm_identity</i>
                <p><em>1 in 4 American children are on their own after school.</em><br><br> That is 1,133,989 children on their own in the afternoon hours who are in need of finding beneficial activities to do.<p>
                </div>
              </div>
              <div class="col s4 col1">
                <div class="center">
                  <i class="large material-icons" style="color:white">schedule</i>
                  <p><em>Students spend 9 hours on media every day.</em><br><br> Studies have shown that excessive media use can lead to attention problems, school difficulties, sleep and eating disorders, and obesity.</p>
                </div>
              </div>
            </div>
            <p style="padding-bottom:15px; border-bottom:2px solid #26a69a;"></p>
            <h5>Benefits of (Better) Afterschool Activities</h5>
            <div class="row" style="padding-top: 5%">
              <div class="col s4 col2">
                <div class="center"><i class="large material-icons" style="color:#ffff8d">grade</i></div>
                <p><em>Aids Development</em><br><br>Children who participate in after school activities that engage their intellect or physical bodies benefit much more socially, physically, and psychologically than the children who spend their time on media.</p>
              </div>
              <div class="col s4 col2">
                <div class="center">
                  <i class="large material-icons" style="color:#ffff8d">trending_down</i>
                  <p><em>Decreases Stress</em><br><br>Children feel stressed as adults do, but the issue is that they do not know how to deal with it. After school activities can play a significant role in relieving stress through a fun and low pressure environment.</p>
                </div>
              </div>
              <div class="col s4 col2">
                <div class="center">
                  <i class="large material-icons" style="color:#ffff8d">supervisor_account</i>
                  <p><em>Develops Skills</em> <br><br>Children can grow in their self-esteem by learning new skills and interacting with their peers. For example, reading as a child has a positive correlation with the folowing: communication skills, logical thinking skills, concentration, and discipline. </p>
                </div>
              </div>
            </div>

            <p style="text-align:right; color:#f5f5f5; font-size:9px;">Sources: Afterschool Alliance, Pew Research Center, She Knows, Early Moments, Let's Move</p>
          </div>
        </div>
      </div>

  <footer class="page-footer teal lighten-1" style="margin-top:0px; padding-bottom:15px">
    <div class="container">
      <div class="row" style="padding-bottom:15px">
          <h4 style="text-align:center;color:#ffd54f ">About Afterschool</h4>
          <div class="grey-text text-lighten-4">
          <div class="col s6 col3">
          <p>Even after knowing why after school activities matter, it can be hard to find good places for children to go to. So, Afterschool helps parents find fun, educational and safe activities for their children to engage in. With afterschool, parents can help their children use their most crucial developmental years to get involved with their community, learn new skills and mature.</p>
          </div>
          <div class="col s6 col3">
          <ul class="icon">
            <li>Libraries have a multitude of books children can read and often provide activities for children to participate in.</li>
            <li>Local parks are great places to get your children outdoors with no additional activity costs.</li>
            <li>Recreational centers have a variety of activities that range from crafts to sports that children can become a part of. They can learn new skills and make friends.</li>
          </ul>
        </div>
          </div>
      </div>


      <div class="row">
      <div class="center">
        <h4 style="color:#ffd54f">Our Team</h4>
        <img class="responsive-img" src="assets/img/team.png" alt="team" style="display: inline-block;height: 400px;line-height:400px;">
      </div>
      </div>

     </div>
    </div>
    <div class="footer-copyright">
      <div class="container" style="padding-bottom:30px">
      Made by <a class="orange-text text-lighten-3" href="https://www.google.com/search?site=&tbm=isch&source=hp&biw=1440&bih=757&q=corgi&oq=corgi&gs_l=img.3..0l10.3253.4547.0.4752.5.5.0.0.0.0.134.378.0j3.3.0....0...1ac.1.64.img..2.3.374.4hlSECLECAU">Team "F" for Friends</a>
      </div>
    </div>
  </footer>
  <div>

  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="assets/js/leaflet-routing-machine.js"></script>
  <script src="assets/js/leafletpip.min.js"></script>
  <script>
    var mymap = L.map('map').setView([32.87, -116.89], 10);
    L.mapbox.accessToken = 'pk.eyJ1IjoicGphbWFzMTgwIiwiYSI6ImNpb3AzN2szMzAwMmp1cGtxZzVxZHlnYW8ifQ.Ml7vL74HZOhLKcF2qNQ58g';
    L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
      maxZoom: 18,
      id: 'pjamas180.084e08al',
      accessToken: 'pk.eyJ1IjoicGphbWFzMTgwIiwiYSI6ImNpb3AzN2szMzAwMmp1cGtxZzVxZHlnYW8ifQ.Ml7vL74HZOhLKcF2qNQ58g'
    }).addTo(mymap);
    mymap.scrollWheelZoom.disable();

    var control = L.Routing.control({
      waypoints: [
        /* Number of waypoints on the map starts at 0 */
      ],
      routeWhileDragging: true,
      geocoder: L.Control.Geocoder.nominatim(),
      addWaypoints: true
    }).addTo(mymap);


    document.getElementById("searchButton").onclick = function() {
      var searchInput = $("#schoolName")[0].value;
      //console.log(searchInput);
      $.getJSON("./schoolData", function(schools) {
        for(var i = 0; i < schools.length; i++) {
          if(schools[i].NAME == searchInput) {
            mymap.setView([schools[i].LATITUDE, schools[i].LONGITUDE], 16);
          }
        }
      });
    }

    var masterCluster = new L.MarkerClusterGroup();

    var libArray = new Array();
    var parkArray = new Array();
    var recArray = new Array();
    var schoolArray = new Array();

    var libClicked = false;
    var parkClicked = false;
    var recClicked = false;

    document.getElementById("libBox").onclick = function() {
      if(libClicked) {
        for(var i = 0; i < libArray.length; i++) {
          //mymap.removeLayer(libArray[i]);
          masterCluster.removeLayer(libArray[i]);
        }
        libClicked = false;
      }
      else {
        $.getJSON("./libData", function(libraries) {
          for(var i = 0; i < libraries.length; i++) {
            var placeMarker = L.marker(new L.LatLng(libraries[i].LATITUDE, libraries[i].LONGITUDE), {
              icon: L.mapbox.marker.icon({'marker-symbol': 'library', 'marker-color': 'F1C40F'})
            });

            var container = L.DomUtil.create('div'),
                title     = addTitle(libraries[i].NAME, container),
                startBtn  = createButton('Start', container),
                destBtn   = createButton('End', container);
            var popup = L.popup()
              .setContent(container);
            placeMarker.bindPopup(popup);

            var location = null;

            placeMarker.on('click', function(e) {
              location = e.latlng;
            });

            L.DomEvent.on(startBtn, 'click', function() {
              // If there are no dest points on the map, add a point instead of replace
              if ( control.getWaypoints().length == 0 ) {
                control.spliceWaypoints(0, 0, location);
              } else {
                control.spliceWaypoints(0, 1, location);
                $('.leaflet-routing-container').show();
                if($('#route_button').html() == "Show Route"){
                  $('.leaflet-routing-container').show();
                  $('#route_button').html('Hide Route');
                }

              }
              mymap.closePopup();
            });

            L.DomEvent.on(destBtn, 'click', function() {
              if ( control.getWaypoints().length == 0 ) {
                control.spliceWaypoints(control.getWaypoints().length - 1, 0, location);
              } else {
                control.spliceWaypoints(control.getWaypoints().length - 1, 1, location);
                $('.leaflet-routing-container').show();
                if($('#route_button').html() == "Show Route"){
                  $('.leaflet-routing-container').show();
                  $('#route_button').html('Hide Route');
                }
              }
              mymap.closePopup();
            });

            masterCluster.addLayer(placeMarker);
            libArray.push(placeMarker);
            //mymap.addLayer(libArray[i]);
          }
        });
        libClicked = true;
      }
    };
    document.getElementById("parkBox").onclick = function() {
      if(parkClicked) {
        for(var i = 0; i < parkArray.length; i++) {
          //mymap.removeLayer(parkArray[i]);
          masterCluster.removeLayer(parkArray[i]);
        }
        parkClicked = false;
      }
      else {
        $.getJSON("./parkData", function(parks) {
          for(var i = 0; i < parks.length; i++) {
            var placeMarker = L.marker(new L.LatLng(parks[i].LATITUDE, parks[i].LONGITUDE), {
              icon: L.mapbox.marker.icon({'marker-symbol': 'park', 'marker-color': '2ECC71'})
            });
            var container = L.DomUtil.create('div'),
                title     = addTitle(parks[i].NAME, container),
                startBtn  = createButton('Start', container),
                destBtn   = createButton('End', container);
            var popup = L.popup()
              .setContent(container);
            placeMarker.bindPopup(popup);

            var location = null;

            placeMarker.on('click', function(e) {
              location = e.latlng;
            });

            L.DomEvent.on(startBtn, 'click', function() {
              // If there are no dest points on the map, add a point instead of replace
              if ( control.getWaypoints().length == 0 ) {
                control.spliceWaypoints(0, 0, location);
              } else {
                control.spliceWaypoints(0, 1, location);
                $('.leaflet-routing-container').show();
                if($('#route_button').html() == "Show Route"){
                  $('.leaflet-routing-container').show();
                  $('#route_button').html('Hide Route');
                }

              }
              mymap.closePopup();
            });

            L.DomEvent.on(destBtn, 'click', function() {
              if ( control.getWaypoints().length == 0 ) {
                control.spliceWaypoints(control.getWaypoints().length - 1, 0, location);
              } else {
                control.spliceWaypoints(control.getWaypoints().length - 1, 1, location);
                $('.leaflet-routing-container').show();
                if($('#route_button').html() == "Show Route"){
                  $('.leaflet-routing-container').show();
                  $('#route_button').html('Hide Route');
                }
              }
              mymap.closePopup();
            });

            masterCluster.addLayer(placeMarker);
            parkArray.push(placeMarker);
            //mymap.addLayer(parkArray[i]);
          }
        });
        parkClicked = true;
      }
    };
    document.getElementById("recBox").onclick = function() {
      if(recClicked) {
        for(var i = 0; i < recArray.length; i++) {
          mymap.removeLayer(recArray[i]);
          masterCluster.removeLayer(recArray[i]);
        }
        recClicked = false;
      }
      else {
        $.getJSON("./recData", function(recCenters) {
          //console.log(recCenters);
          for(var i = 0; i < recCenters.length; i++) {
            var placeMarker = L.marker(new L.LatLng(recCenters[i].LATITUDE, recCenters[i].LONGITUDE), {
              icon: L.mapbox.marker.icon({'marker-symbol': 'basketball', 'marker-color': 'E74C3C'})
            });
            var container = L.DomUtil.create('div'),
                title     = addTitle(recCenters[i].NAME, container),
                startBtn  = createButton('Start', container),
                destBtn   = createButton('End', container);
            var popup = L.popup()
              .setContent(container);
            placeMarker.bindPopup(popup);

            var location = null;

            placeMarker.on('click', function(e) {
              location = e.latlng;
            });

            L.DomEvent.on(startBtn, 'click', function() {
              // If there are no dest points on the map, add a point instead of replace
              if ( control.getWaypoints().length == 0 ) {
                control.spliceWaypoints(0, 0, location);
              } else {
                control.spliceWaypoints(0, 1, location);
                $('.leaflet-routing-container').show();
                if($('#route_button').html() == "Show Route"){
                  $('.leaflet-routing-container').show();
                  $('#route_button').html('Hide Route');
                }

              }
              mymap.closePopup();
            });

            L.DomEvent.on(destBtn, 'click', function() {
              if ( control.getWaypoints().length == 0 ) {
                control.spliceWaypoints(control.getWaypoints().length - 1, 0, location);
              } else {
                control.spliceWaypoints(control.getWaypoints().length - 1, 1, location);
                $('.leaflet-routing-container').show();
                if($('#route_button').html() == "Show Route"){
                  $('.leaflet-routing-container').show();
                  $('#route_button').html('Hide Route');
                }
              }
              mymap.closePopup();
            });

            masterCluster.addLayer(placeMarker);
            recArray.push(placeMarker);
            //mymap.addLayer(recArray[i]);
          }
        });
        recClicked = true;
      }
    };

    var data = {};

    // For each school, create a new marker
    $.ajax({
      type: 'GET',
      dataType: 'json',
      data: JSON.stringify(data),
      contentType: 'application/json',
      url: './schoolData',
      success: function(data) {
          var markers = new L.MarkerClusterGroup();
          //var markerList = [];
          for (var i= 0; i < data.length; i++) {
            var marker = L.marker(new L.LatLng(data[i].LATITUDE, data[i].LONGITUDE), {
              icon: L.mapbox.marker.icon({'marker-symbol': 'school', 'marker-color': 'EE6E73'}),
              title: data[i].NAME
            });
            var container = L.DomUtil.create('div'),
                title     = addTitle(data[i].NAME, container),
                startBtn  = createButton('Start', container),
                destBtn   = createButton('End', container);
            var popup = L.popup()
              .setContent(container);
            marker.bindPopup(popup);

            var location = null;

            marker.on('click', function(e) {
              location = e.latlng;
            });

            L.DomEvent.on(startBtn, 'click', function() {
              // If there are no dest points on the map, add a point instead of replace
              if ( control.getWaypoints().length == 0 ) {
                control.spliceWaypoints(0, 0, location);
              } else {
                control.spliceWaypoints(0, 1, location);
                $('.leaflet-routing-container').show();
                if($('#route_button').html() == "Show Route"){
                  $('.leaflet-routing-container').show();
                  $('#route_button').html('Hide Route');
                }

              }
              mymap.closePopup();
            });

            L.DomEvent.on(destBtn, 'click', function() {
              if ( control.getWaypoints().length == 0 ) {
                control.spliceWaypoints(control.getWaypoints().length - 1, 0, location);
              } else {
                control.spliceWaypoints(control.getWaypoints().length - 1, 1, location);
                $('.leaflet-routing-container').show();
                if($('#route_button').html() == "Show Route"){
                  $('.leaflet-routing-container').show();
                  $('#route_button').html('Hide Route');
                }
              }
              mymap.closePopup();
            });

            masterCluster.addLayer(marker);
            schoolArray.push(marker);
          }
          mymap.addLayer(masterCluster);

      }
    });

    var eventData = {};
    var eventString ="<li class=\"collection-header\"><h4>Events</h4></li>";
    $.getJSON('https://www.eventbriteapi.com/v3/events/search/?token=2R5MTFHTE6WEWVSJO7DC&location.latitude=32.87&location.longitude=-116.89&location.within=30mi&sort_by=best&categories=115&subcategories=15005', function(data) {
        eventData = data.events;
        console.log(eventData);
        for(var i = 0; i < eventData.length; i++) {
          eventString = eventString + "<li><a href=" + eventData[i].url + "\" target=\"_blank\" class=\"collection-item\">" + eventData[i].name.text + "</a></li>";
        }

        console.log(eventString);
        $("#events").html(eventString);
    });

    function createButton(label, container) {
      var btn = L.DomUtil.create('button', '', container);
      btn.setAttribute('type', 'button');
      btn.innerHTML = label;
      return btn;
    }

    function addTitle(content, container) {
      var title = L.DomUtil.create('h3', '', container);
      title.innerHTML = content;
      return title;
    }

  </script>
  <script>

    var x = $('.leaflet-routing-add-waypoint').hide();

    if(control.getWaypoints().length == 2) {
      $('.leaflet-routing-container').hide();
    }
    $('.leaflet-routing-remove-waypoint').click(function() {
      console.log("remove button clicked");
      if(control.getWaypoints().length==2) {
        $('.leaflet-routing-geocoders').hide();
      }
    });

  </script>

  <script>
    if($('.leaflet-routing-container').is(":visible")){
      console.log("setting Inner HTML");
      $('#route_button').html('Hide Route');
    }
    $('#route_button').click(function() {
      if($('#route_button').html() == "Show Route"){
        $('.leaflet-routing-container').show();
        $('#route_button').html('Hide Route');
      }
      else {
        $('.leaflet-routing-container').hide();
        $('#route_button').html('Show Route');
      }
    });
  </script>

  <!-- <script src="/public/assets/js/materialize.js"></script> -->
  <script src="assets/js/init.js"></script>

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
  <script src="assets/js/easing.js"></script>
  <script>
    function toggleDiv(){
      if($(this).is(':checked')) {
        $("#map").hide();
        $("#route_button").hide();
        $("#chloropleth").show();
        $("#recBox").prop('disabled', true);
        $("#libBox").prop('disabled', true);
        $("#parkBox").prop('disabled', true);
      } else {
        $("#map").show();
        $("#route_button").show();
        $("#chloropleth").hide();
        $("#recBox").prop('disabled', false);
        $("#libBox").prop('disabled', false);
        $("#parkBox").prop('disabled', false);
      }
    }

    $(function(){
      $("#mapToggle").change(toggleDiv).trigger('change');

    });
  </script>
  <script src="assets/js/chloropleth.js"></script>
  <script>
    $('a.page-scroll').bind('click', function(event) {
        var $anchor = $(this);
        $('html, body').stop().animate({
            scrollTop: ($($anchor.attr('href')).offset().top /*- 50*/)
        }, 1250, 'easeInOutExpo');
        event.preventDefault();
    });
  </script>

  </body>
</html>
