<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>afterschool</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- <link href="public/assets/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/> -->
  <link href="assets/css/style.css" rel="stylesheet">

  <!-- Compiled and minified CSS -->
  <!--link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css"-->
  <link rel="stylesheet" href="assets/css/materialize.min.css">

  <!-- Leaflet dependencies -->
  <link rel="stylesheet" href="assets/css/leaflet.css">
  <script src="assets/js/leaflet.js"></script>

  <script src="https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.js"></script>
  <link href="https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.css" rel="stylesheet">
  <script src="https://api.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/leaflet.markercluster.js"></script>
  <link href="https://api.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/MarkerCluster.css" rel="stylesheet">
  <link href="https://api.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/MarkerCluster.Default.css" rel="stylesheet">

  <style>
    #map { height: 500px; }
  </style>

</head>
<body>
  <!-- <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center orange-text">Starter Template</h1>
      <div class="row center">
        <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>
      </div>
      <div class="row center">
        <a href="http://materializecss.com/getting-started.html" id="download-button" class="btn-large waves-effect waves-light orange">Get Started</a>
      </div>
      <br><br>

    </div>
  </div> -->

  <div id="wrapper">
  <div id="hero">
    <div class="header">
      <img class="responsive-img" src="assets/img/logo.png" alt="logo" style="display: inline-block;height: 180px;line-height: 180px;">
      <p style="padding-left:50px;padding-right:50px;">Afterschool helps parents find fun, educational and safe activities for their children to engage in. With afterschool, parents can help their children use their most crucial developmental years to get involved with their community, learn new skills and mature.</p>
      <a href="#mainSection" class="waves-effect waves-teal btn-flat" id="button" style="font-weight:bold; width:300px">Get Started</a>
    </div>
  </div>
  </div>

  <div id="body">
  <div id="mainSection">
    <nav id="nav">
        <div class="nav-wrapper">
          <a href="#" class="brand-logo left"style="padding-left:10px; padding-top:10px"> <img class="responsive-img" src="assets/img/logo.png" alt="afterschool" style="height: 45px;line-height: 45px;"></a>
          <ul class="left" style="padding-left:120px">
            <li>
              <input placeholder="Enter School Name" id="schoolName" type="text" class="validate">
            </li>
            <li><a href="#mapsSection">Map</a></li>
         </ul>
          <ul class="right" style="padding-right:10px">
            <li><a href="#statisticsSection">Why it Matters</a></li>
          </ul>
        </div>
      </nav>
    </div>

  <div class="container">

    <div id="mapSection">
      <div class="section">
        <h3>School Name</h3>
      </div>
      <p><input type="checkbox" id="libBox" value="second_checkbox"><label for="libBox">Libraries</label></p>
      <p><input type="checkbox" id="parkBox" value="second_checkbox"><label for="parkBox">Parks</label></p>
      <p><input type="checkbox" id="recBox" value="second_checkbox"><label for="recBox">Recreational Centers</label></p>
      <div id="map"></div>
    </div>
  </div>

    <br><br>

    <div id="statisticsSection">
      <div class="section">
        <div class="container">
        <h4 style="text-align:center; color:teal">Why afterschool activities matter</h4><br>
        <p style="padding-bottom:15px; border-bottom:2px solid #80cbc4;">The importance of what children do after school is becoming more emphasized as it becomes a more well-known fact that children cannot develop from school alone, and the time children spend out of school is a significant amount. Children can potentially learn so much after school that they cannot learn from sitting through their school classes, yet it can be difficult to find good places for children to go to.</p>
        <h5>The Problem</h5>
        <div class="row" style="padding-top: 5%">
            <div class="col s4">
                <div class="center"><i class="large material-icons" style="color:#ffeb3b">trending_up</i></div>
                <p><em>1 in 3 American children are overweight or obese.</em><br><br>What was not a problem decades ago is a problem today because children live an inactive lifestyle. Children rarely need to walk. Most time after school are spent on the screen.</p>
            </div>
            <div class="col s4">
              <div class="center">
                  <i class="large material-icons" style="color:#ffeb3b">perm_identity</i>
                <p><em>1 in 4 American children are on their own after school.</em><br><br> That is 1,133,989 children on their own in the afternoon hours who are in need of finding beneficial activities to do.<p>
              </div>
            </div>
            <div class="col s4">
              <div class="center">
                <i class="large material-icons" style="color:#ffeb3b">schedule</i>
                <p><em>Students spend 9 hours on media every day.</em><br><br> Studies have shown that excessive media use can lead to attention problems, school difficulties, sleep and eating disorders, and obesity.</p> 
              </div>
            </div>
        </div>
        <p style="padding-bottom:15px; border-bottom:2px solid #80cbc4;"></p>
        <h5>Benefits of (Better) Afterschool Activities</h5>
         <div class="row" style="padding-top: 5%">
            <div class="col s4">
                <div class="center"><i class="large material-icons" style="color:#ff7043">grade</i></div>
                <p><em>Aids Development</em><br><br>Children who participate in after school activities that engage their intellect or physical bodies benefit much more socially, physically, and psychologically than the children who spend their time on media.</p>
            </div>
            <div class="col s4">
              <div class="center">
                  <i class="large material-icons" style="color:#ff7043">trending_down</i>
                <p><em>Decreases Stress</em><br><br>Children feel stressed as adults do, but the issue is that they do not know how to deal with it. After school activities can play a significant role in relieving stress through a fun and low pressure environment.</p>
              </div>
            </div>
            <div class="col s4">
              <div class="center">
                <i class="large material-icons" style="color:#ff7043">supervisor_account</i>
                <p><em>Develops Skills</em> <br><br>Children can grow in their self-esteem by learning new skills and interacting with their peers. For example, reading as a child has a positive correlation with the folowing: communication skills, logical thinking skills, concentration, and discipline. </p> 
              </div>
            </div>
        </div>

        <p style="text-align:right; color:#fff9c4">Sources: Afterschool Alliance, Pew Research Center, She Knows, Early Moments</p>
        </div>
      </div>
    </div>

  <footer class="page-footer teal lighten-1" style="margin-top:0px">
    <div class="container">
      <div class="row">
          <h5 class="white-text">About Us</h5>
          <div class="grey-text text-lighten-4">
          <p>Afterschool helps parents find fun, educational and safe activities for their children to engage in. With afterschool, parents can help their children use their most crucial developmental years to get involved with their community, learn new skills and mature.</p>
          <ul>
            <li><i class="tiny material-icons" style="color:#ffeb3b">mode_edit</i> Libraries have a multitude of books children can read and often provide activities for children to participate in.</li>
            <li><i class="tiny material-icons" style="color:#ffeb3b">location_on</i> Local parks are great places to get your children outdoors with no additional activity costs.</li>
            <li><i class="tiny material-icons" style="color:#ffeb3b">supervisor_account</i> Recreational centers have a variety of activities that range from crafts to sports that children can become a part of. They can learn new skills and make friends.</li>
          </ul>

          </div>
          <div class="orange-text text-lighten-3">
          <h6 style="margin:0">Afterschool aims to:</h6>
          <div class="col s6">
          <ul class="icon"> 
            <li>provide places primary students can go to after school</li>
            <li>support all families with children in San Diego</li>
          </ul>
          </div>
          <div class="col s6">
          <ul class="icon">
            <li>keep primary students safe and productive</li>
            <li>benefit the community by promoting well-being and family unity</li>
          </div>
        </div>
      </div>
     </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="orange-text text-lighten-3" href="https://www.google.com/search?q=corgi&source=lnms&tbm=isch&sa=X&ved=0ahUKEwjEnfCo7-fMAhWq1IMKHVMtBaMQ_AUIBygB&biw=1920&bih=1105">Team "F" for Friends</a>
      </div>
    </div>
  </footer>
  <div>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
 <!--  <script src="assets/js/regularMap.js"/> -->
  <script src="assets/js/chloropleth.js"></script>
  <script s
  <!-- <script src="/public/assets/js/materialize.js"></script> -->
  <script src="assets/js/init.js"></script>

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>

  </body>
</html>
