<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>afterschool</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- <link href="public/assets/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/> -->
  <link href="assets/css/style.css" rel="stylesheet">

  <!-- Compiled and minified CSS -->
  <!--link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css"-->
  <link rel="stylesheet" href="assets/css/materialize.min.css">

  <!-- Leaflet dependencies -->
  <link rel="stylesheet" href="assets/css/leaflet.css">
  <script src="assets/js/leaflet.js"></script>

  <script src="https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.js"></script>
  <link href="https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.css" rel="stylesheet">
  <script src="https://api.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/leaflet.markercluster.js"></script>
  <link href="https://api.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/MarkerCluster.css" rel="stylesheet">
  <link href="https://api.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/MarkerCluster.Default.css" rel="stylesheet">

  <style>
    #map { height: 500px; }
  </style>

</head>
<body>
  <!-- <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center orange-text">Starter Template</h1>
      <div class="row center">
        <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>
      </div>
      <div class="row center">
        <a href="http://materializecss.com/getting-started.html" id="download-button" class="btn-large waves-effect waves-light orange">Get Started</a>
      </div>
      <br><br>

    </div>
  </div> -->

  <div id="wrapper">
  <div id="hero">
    <div class="header">
      <img class="responsive-img" src="assets/img/logo.png" alt="logo" style="display: inline-block;height: 200px;line-height: 200px;">
      <p style="padding-left:50px;padding-right:50px;">Afterschool helps parents find fun, educational and safe activities for their children to engage in. With afterschool, parents can help their children use their most crucial developmental years to get involved with their community, learn new skills and grow into mature adults.</p>
      <a href="#mainSection"><img src="assets/img/down.png" style="height:250px;padding-top:190px;"></a>
    </div>
  </div>
  </div>

  <div id="mainSection">
    <nav id="nav">
        <div class="nav-wrapper">
          <a href="#" class="brand-logo left"style="padding-left:10px; padding-top:10px"> <img class="responsive-img" src="assets/img/logo.png" alt="afterschool" style="height: 45px;line-height: 45px;"></a>
          <ul class="left" style="padding-left:120px">
            <li>
              <input placeholder="Enter School Name" id="schoolName" type="text" class="validate">
            </li>
            <li><a href="#mapsSection">Map</a></li>
         </ul>
          <ul class="right" style="padding-right:10px">
            <li><a href="#statisticsSection">Statisics</a></li>
          </ul>
        </div>
      </nav>
    </div>

  <div class="container">

    <div id="mapSection">
      <div class="section">
        <h3>School Name</h3>
      </div>
      <div id="map"></div>
    </div>

    <br><br>

    <div id="statisticsSection">
      <div class="section">
        <h3>Statistics</h3>
        <div class="row" style="padding-top: 5%">
            <div class="col s4">
                <img src="assets/img/graph-icon.png" alt="graph" style="padding: 0px 25%;" height="75%">
            </div>
            <div class="col s4">
                <img src="assets/img/kids.png" alt="1in4kids" style="padding: 0px 12.5%" height="75px">
            </div>
            <div class="col s4">
                <img src="assets/img/media-pie-chart.png" alt="piechart" style="padding: 0px 33%;" height="100px">
            </div>
        </div>
        <div class="row">
            <div class="col s4">
                <p>Teens who do not participate in after school programs are nearly 3 times more likely to: </p>
                <ul class="icon">
                    <li>skip classes</li>
                    <li>use marijuana or other drugs</li>
                    <li>drink and smoke</li>
                    <li>engage in sexual activity</li>
                </ul>
            </div>
            <div class = "col s4">
                <p>1 in 4 American kids are on their own after school<p>
            </div>
            <div class = "col s4">
                <p>Students spend 9 hours on media every day</p>
            </div>
        </div>
      </div>
    </div>

    <div class="section">

    </div>
  </div>

  <footer class="page-footer teal lighten-1">
    <div class="container">
      <div class="row">
          <h5 class="white-text">About Us</h5>
          <p class="grey-text text-lighten-4">Afterschool helps parents find fun, educational and safe activities for their children to engage in. With afterschool, parents can help their children use their most crucial developmental years to get involved with their community, learn new skills and grow into mature adults.</p>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="orange-text text-lighten-3" href="https://www.google.com/search?q=corgi&source=lnms&tbm=isch&sa=X&ved=0ahUKEwjEnfCo7-fMAhWq1IMKHVMtBaMQ_AUIBygB&biw=1920&bih=1105">Team "F" for Friends</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script>
    var mymap = L.map('map').setView([32.77, -117.19], 11);
    L.mapbox.accessToken = 'pk.eyJ1IjoicGphbWFzMTgwIiwiYSI6ImNpb3AzN2szMzAwMmp1cGtxZzVxZHlnYW8ifQ.Ml7vL74HZOhLKcF2qNQ58g';
    L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
      /*attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',*/
      maxZoom: 18,
      id: 'pjamas180.084e08al',
      accessToken: 'pk.eyJ1IjoicGphbWFzMTgwIiwiYSI6ImNpb3AzN2szMzAwMmp1cGtxZzVxZHlnYW8ifQ.Ml7vL74HZOhLKcF2qNQ58g'
    }).addTo(mymap);
    mymap.scrollWheelZoom.disable();

    $.getJSON("./recData", function(recCenters) {
          console.log(recCenters);
      for(var i = 0; i < recCenters.length; i++) {
        var placeMarker = L.marker([recCenters[i].LATITUDE, recCenters[i].LONGITUDE]).addTo(mymap);
        placeMarker.bindPopup(recCenters[i].NAME);
      }   
    });

    $.getJSON("./libData", function(libraries) {
      for(var i = 0; i < libraries.length; i++) {
        var placeMarker = L.marker([libraries[i].LATITUDE, libraries[i].LONGITUDE]).addTo(mymap);
        placeMarker.bindPopup(libraries[i].NAME);
      }   
    });

    $.getJSON("./parkData", function(parks) {
      for(var i = 0; i < parks.length; i++) {
        var placeMarker = L.marker([parks[i].LATITUDE, parks[i].LONGITUDE]).addTo(mymap);
        placeMarker.bindPopup(parks[i].NAME);
      }   
    });

    var data = {};

    // For each school, create a new marker
    $.ajax({
      type: 'GET',
      dataType: 'json',
      data: JSON.stringify(data),
      contentType: 'application/json',
      url: 'https://after-school.herokuapp.com/schoolData',
      //url: 'http://localhost:3000/schoolData',
      success: function(data) {
          var markers = new L.MarkerClusterGroup();
          var markerList = [];
          /*
          for each ( var x in data ) {
            console.log(x);
          }
          */
          for (var i= 0; i < data.length; i++) {
            var marker = L.marker(new L.LatLng(data[i].LATITUDE, data[i].LONGITUDE), {
              icon: L.mapbox.marker.icon({'marker-symbol': 'school', 'marker-color': 'EE6E73'}),
              title: data[i].NAME
            });
            marker.bindPopup(data[i].NAME);
            markers.addLayer(marker);
            markerList.push(marker);
            // console.log(data[i]);
          }
          mymap.addLayer(markers);

      }
    });
    // var schoolName = 

  </script>
  <!-- <script src="/public/assets/js/materialize.js"></script> -->
  <script src="assets/js/init.js"></script>

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>

  </body>
</html>
